.card{
    width: 95%;
    margin: 50px auto;
}
table{
    margin-bottom: 20px;
}
h5{
    margin: 20px auto;
}
.material-icons{
    cursor: pointer;
}
.material-icons:hover{
    color: #1e88e5;
}
.modal{
    width: 40%;
    /*height: 50%;*/
    overflow: visible;
}
iframe{
    width: 90%;
    margin: auto;
    overflow: visible;
    display: block;
    height: 1200px;
}
select{
    display: inline-block;
}
