.card{
    width: 95%;
    margin: 50px auto;
}
form{
    width: 50%;
    margin: 20px auto;
}
.table-heading{
    background-color: rgba(30, 135, 229, 0.50);
}
.info{
    display: none;
}
.preloader-wrapper{
    display: block;
    margin: 100px auto;
    width: 30%;
    display: none;
}
#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 85%;
    left:70%;
}
/*
ul.collapsible li{
    margin-bottom: 30px;
}
*/